.container {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
	.entry,
	.widget {
		position: relative;
		width: 100%;
		min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	}
}

.site {
	position: relative;
	overflow-y: hidden;
	&:before {
		background-color: rgba( 0, 0, 0, 0.01 );
		content: "";
		transform: skew(0, -60deg);
		position: absolute;
		left: 0;
		right: 0;
	    top: 500px;
	    height: 1500px;
	}
}

.site-content {
	padding-top: 1.5rem;
}

@import "small";

@import "medium";

@import "large";

@import "extra-large";
