@media (min-width: 768px) {

	.container {
	    width: 720px;
	    max-width: 100%;
	}

	@import "../navigation/menus-desktop";

	.row {
		&.masonry-container .entry {
		    max-width: 50%;
		    float: left;
		}
		.widget {
			max-width: 33.33%;
			float: left;
		}
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		float: left;
		width: 30.55555555555556%;
		margin-right: 04.16666666666667%;
	}

	.comment-form-url {
		float: right;
		margin-right: 0;
	}

	.comment-form input[type="submit"] {
		clear: both;
		width: auto;
		min-width: 25%;
	}

}
