$color__background-body: #404040;
$color__background-site: #fff;
$color__background-screen: #00bcd4;
$color__background-hr: #eceff1;
$color__background-button: #e6e6e6;
$color__background-pre: #eceff1;
$color__background-ins: #fff9c0;
$color__background-submenu: #202020;

$color__text-screen: #fff;
$color__text-input: #666;
$color__text-input-focus: #111;

$color__link: #00bcd4;
$color__link-visited: #00bcd4;
$color__link-hover: #0097a7;

$color__text-main: #404040;
$color__text-secondary: #909090;

$color__text-require: #f44336;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
