.wpcf7 {
	margin: 0;
	padding: 0;
	label {
		display: block;
	}
}

.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

.wpcf7 .screen-reader-response {
	position: absolute;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	width: 1px;
	margin: 0;
	padding: 0;
	border: 0;
}

.wpcf7-mail-sent-ok,
.wpcf7-mail-sent-ng,
.wpcf7-spam-blocked,
.wpcf7-validation-errors {
    background-color: $color__background-error;
    color: #fff;
    padding: 1rem;
    margin: 0 0 1.5em;
    position: relative;
    list-style-type: none;
    width: auto;
    overflow: hidden;
}

.wpcf7-mail-sent-ok {
	background-color: $color__background-message
}

.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	font-size: 1em;
	display: block;
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	display: block;
	margin-bottom: .5rem;
}

.wpcf7-file {
	background-color: rgba( 0,0,0,.05 );
	padding: .5rem;
	width: 100%;
}

.wpcf7-list-item-label {
	margin-left: .5rem;
}

.wpcf7-display-none {
	display: none;
}

.wpcf7 .ajax-loader {
	visibility: hidden;
	display: inline-block;
	background-image: url('assets/images/ajax-loader.gif');
	width: 16px;
	height: 16px;
	border: none;
	padding: 0;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

.wpcf7 .ajax-loader.is-active {
	visibility: visible;
}

.wpcf7 .ajax-error {
	display: none;
}

.wpcf7 .placeheld {
	color: #888;
}

.wpcf7-recaptcha {
	margin-bottom: 1.5rem;
	iframe {
		margin-bottom: 0;
	}
}

